In [1]:
import pandas as pd, numpy as np

In [3]:
df = pd.read_csv("Inferential Statistics - Powai Flats Rent.csv")
df.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [5]:
df.shape

(200, 2)

In [7]:
mean_rent = df["Monthly Rent"].mean()
std_dev = df["Monthly Rent"].std()
n = len(df)

In [20]:
# Standard error
std_error = std_dev / np.sqrt(n)

# Critical Z-value for 90% confidence
z = 1.65

In [22]:
# Confidence Interval
lower_bound = mean_rent - z * std_error
upper_bound = mean_rent + z * std_error

(lower_bound, upper_bound)

(44700.911395150506, 46441.088604849494)

In [24]:
# Critical Z-value for 99% confidence
z = 2.58

# Confidence Interval
lower_bound = mean_rent - z * std_error
upper_bound = mean_rent + z * std_error

(lower_bound, upper_bound)

(44210.49781787169, 46931.50218212831)

In [26]:
# Critical Z-value for 95% confidence
z = 1.96

# Confidence Interval
lower_bound = mean_rent - z * std_error
upper_bound = mean_rent + z * std_error

(lower_bound, upper_bound)

(44537.44020272423, 46604.55979727577)