In [19]:
import pandas as pd, numpy as np

In [3]:
df = pd.read_csv("Inferntial Statistics - UpGrad Samples.csv")
df.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [13]:
df["Sample Mean"].mean()

2.3480000000000003

In [9]:
df["Sample Mean"].std()

0.42698851497340273

In [23]:
np.square(2)

4

In [27]:
sd = ((np.square(1-0.42) * 42) +  (np.square(0-0.42) * 58))/99
np.sqrt(sd)

0.4960449637488582

In [41]:
50.5 - round(2.58 * 0.2,2)

49.98