In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Inferential Statistics - Student Loan.csv")

In [5]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [7]:
df["Exposure at Default (in lakh Rs.)"].sum()

124022.93000000001

In [9]:
df.shape

(10000, 6)

In [13]:
# Remove '%' from 'Recovery (%)' and convert to numeric
df["Recovery (%)"] = df["Recovery (%)"].str.rstrip('%').astype(float)

# Calculate 'Expected Loss'
df["Expected Loss"] = df["Probability of Default"] * df["Exposure at Default (in lakh Rs.)"] * (100 - df["Recovery (%)"])

In [15]:
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,Expected Loss
0,1,11.50,20.00,0.0070,NaN,NaN,6.440000
1,2,0.24,5.10,0.0033,NaN,NaN,0.075161
2,3,0.04,24.86,0.0022,NaN,NaN,0.006612
3,4,13.81,2.29,0.0066,NaN,NaN,8.905876
4,5,19.84,3.47,0.0020,NaN,NaN,3.830310

In [17]:
df["Expected Loss"].sum()

49339.131440619996