In [123]:
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt

In [125]:
df = pd.read_csv("grades.csv")

In [137]:
df.head()
df.shape

(198, 3)

In [139]:
df.iloc[0,0]

'https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44aa-88d3-6b36aaa69b02/DDA1610095.zip'

In [141]:
df['File_Extension'] = df['submission'].str.split('.').str[-1]

In [143]:
df.head()

,submission,submit_time,File_Extension
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,zip
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,zip
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,zip
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,zip
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,zip

In [145]:
df['File_Extension'].value_counts()

File_Extension
zip    189
R        7
7z       2
Name: count, dtype: int64

In [147]:
df.shape

(198, 3)

In [149]:
189/198

0.9545454545454546

In [151]:
df["submit_time"].value_counts()

submit_time
01/03/17-20:28:52    1
12/29/16-03:13:50    1
01/04/17-00:00:26    1
01/03/17-23:46:39    1
01/03/17-01:04:10    1
                    ..
01/03/17-22:35:42    1
01/03/17-23:57:37    1
01/03/17-20:45:34    1
01/03/17-20:39:49    1
01/03/17-22:32:38    1
Name: count, Length: 198, dtype: int64

In [169]:
df["Date"] = df["submit_time"].str[:8]
df["Year"] = df["submit_time"].str[6:8]

In [171]:
df.head()

,submission,submit_time,File_Extension,Date,Year
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,zip,01/03/17,17
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,zip,01/03/17,17
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,zip,01/03/17,17
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,zip,01/02/17,17
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,zip,01/03/17,17

In [173]:
df['Date'].value_counts()

Date
01/03/17    120
01/09/17     21
01/02/17     14
01/04/17     12
12/30/16      6
01/01/17      6
01/08/17      3
01/10/17      3
12/29/16      2
12/28/16      2
01/07/17      2
01/17/17      1
02/03/17      1
12/21/16      1
01/06/17      1
11/19/16      1
12/31/16      1
12/19/16      1
Name: count, dtype: int64

In [179]:
df['submit_time'].str[-8:-6].value_counts()

submit_time
23    66
21    27
22    24
20    16
00    10
01     8
14     6
18     6
13     6
15     4
17     4
12     3
10     3
03     3
19     2
04     2
16     2
02     2
06     1
08     1
11     1
09     1
Name: count, dtype: int64

In [167]:
df[(df['Date'] > "01/03/17") & (df['Year'] != "16" )].count()

submission        44
submit_time       44
File_Extension    44
Date              44
Year              44
dtype: int64