In [1]:
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("odi-batting.csv")

In [11]:
df.head()
df["Player"].value_counts()

Player
Sachin R Tendulkar      422
Sanath T Jayasuriya     399
Ricky T Ponting         340
Inzamam-ul-Haq          330
Rahul Dravid            305
                       ...
David S Steele            1
Kenneth Shuttleworth      1
Adrian P Grayson          1
Paul J Franks             1
Waddington Mwayenga       1
Name: count, Length: 1883, dtype: int64

In [7]:
df.shape

(50284, 8)

In [19]:
df[(df["Player"] == "Sachin R Tendulkar") & (df["Runs"] >= 100)]["Runs"].count()

48

In [21]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [27]:
df["Year"] = df["MatchDate"].str[-4:]

In [47]:
df.head()
df["Country"].value_counts()
df["Year"].value_counts()

Year
2007    2958
2006    2565
1999    2424
2009    2340
2010    2267
2002    2267
2003    2228
2011    2091
2000    2047
1996    2029
2004    1956
2008    1932
2001    1887
1997    1801
1998    1755
2005    1707
1994    1505
1992    1367
1993    1272
1987    1209
1983    1040
1995    1001
1988     991
1985     957
1986     944
1990     925
1989     856
1984     786
1991     628
1982     502
1981     435
1979     387
1980     344
1975     293
1978     158
1976     102
1977      99
1974      86
1973      75
1972      50
1971      18
Name: count, dtype: int64

In [73]:
df[(df["Country"] == "India") & (df["Runs"] >= 100) & (df["Year"] == "1999")].shape

(15, 9)