In [2]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn  as  sns

In [3]:
df = pd.read_csv("Delhi+Delights+Data.csv")

In [4]:
df.head()

,Average Delivery Rating (a1),Average Orders per month (a2),"""Delighted Members"" Purchase"
0,1.5,11,Yes
1,2.5,11,No
2,2.5,11,No
3,3.5,11,No
4,3.5,11,No

In [10]:
df.columns

Index(['Average Delivery Rating (a1)', 'Average Orders per month (a2)',
       '"Delighted Members" Purchase'],
      dtype='object')

In [15]:
df["\"Delighted Members\" Purchase"].value_counts()

"Delighted Members" Purchase
Yes    15
No     15
Name: count, dtype: int64

In [16]:
# Show the first few rows and the value counts for the class label
df.head(), df.iloc[:, 2].value_counts()

(   Average Delivery Rating (a1)  Average Orders per month (a2)  \
 0                           1.5                             11
 1                           2.5                             11
 2                           2.5                             11
 3                           3.5                             11
 4                           3.5                             11

   "Delighted Members" Purchase
 0                          Yes
 1                           No
 2                           No
 3                           No
 4                           No  ,
 "Delighted Members" Purchase
 Yes    15
 No     15
 Name: count, dtype: int64)

In [21]:
# Splitting the left partition (a2 < 20) first
left_partition = df[df['Average Orders per month (a2)'] < 20]

# Now apply the given split: first on a1 < 1.5, then on a1 < 4.5 (i.e., 3 partitions)
split_1 = left_partition[left_partition['Average Delivery Rating (a1)'] < 1.5]
split_2 = left_partition[(left_partition['Average Delivery Rating (a1)'] >= 1.5) & (left_partition['Average Delivery Rating (a1)'] < 4.5)]
split_3 = left_partition[left_partition['Average Delivery Rating (a1)'] >= 4.5]

# Calculate Gini index for each partition
gini_1 = gini_index(split_1)
gini_2 = gini_index(split_2)
gini_3 = gini_index(split_3)

# Calculate total length
total_left = len(left_partition)

# Weighted Gini index after splitting into three groups
weighted_gini_split = (
    len(split_1)/total_left * gini_1 +
    len(split_2)/total_left * gini_2 +
    len(split_3)/total_left * gini_3
)

gini_1, gini_2, gini_3, weighted_gini_split

NameError: name 'gini_index' is not defined